DEBUG=True

# Postgres Database Configuration
DB_NAME=fuss_new # keep this
DB_USER=your_postgres_db_username # modify this
DB_PASSWORD=your_postgres_db_password # modify this
DB_HOST=db # keep this - Docker Container for DB
DB_PORT=5432 # keep this